body {
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #001d3d;
}

#main {
    height: 90vh;
}

button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border: 2px solid #001d3d;
    border-radius: 5px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

button:hover {
    background: #001d3d;
    color: #ffffff;  
}

#units {
    background: #4361ee;
    height: 280px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 100px;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    text-align: center;
    font-size: 30px;
    border: 2px solid #273549;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
    color: #CCC1FF;
    width: 550px;
    height: 100px;
    background: #273549;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px #4361ee;
    border-radius: 5px;
}

#results {
    margin-top: 50px; 
}

.break {
    margin-top: 50px; 
}

footer {
    color: #ffffff;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

#results {
    margin-bottom: 20px;
}

p {
    color: #ffffff;
}

a {
    color: #4361ee
}

a:hover {
    color: #ffffff;
    background: #001d3d;
}